allow gmscore_app apex_mnt_dir:dir { open read };
allow gmscore_app configfs:dir { open read };
allow gmscore_app postinstall_mnt_dir:dir { getattr };
allow gmscore_app init_exec:lnk_file { getattr };
allow gmscore_app linkerconfig_file:dir { getattr };
allow gmscore_app metadata_file:dir { getattr };
allow gmscore_app system_dlkm_file:dir { getattr };
