allow system_suspend block_device:dir search;
allow system_suspend system_file:dir search;
allow system_suspend system_file:file r_file_perms;
allow system_suspend hal_power_stats_server:chr_file ioctl;
allow system_suspend hal_power_stats_server:chr_file r_file_perms;

r_dir_file(system_suspend, sysfs_rtc)
r_dir_file(system_suspend, sysfs_wakeup)
